{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take a Photo</title>

    <link rel="icon" href="{% static 'resources/cooksnap-logo.png' %}" alt="LyncottIcon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'styles/styleGroceries.css' %}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body class="background">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light p-3">
        <!-- Logo -->
        <a class="navbar-brand" href="{% url 'main' %}">
            <img src="{% static 'resources/cooksnap-logo.png' %}" alt="Cooksnap Logo" 
                class="hexagon-img" style="min-width:150px; height:auto;" />
        </a>

        <!-- Toggler button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <h1 class="nav-link mb-0 text-center text-lg-start fw-bold fs-5 text-dark" style="background-color:#e5e5f7">
                        Welcome <span style="color:#FF5535">{{ user.username }}</span>! Ready to start cooking?
                    </h1>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3"  style="background-color:#e5e5f7;">
        <!-- Input para agregar ingredientes -->
        <div class="mb-3">
            <label for="ingredientInput" class="form-label" style="font-size:2rem; font-weight:500;">Add ingredients</label>
            <div class="input-group">
                <input type="text" id="ingredientInput" class="form-control" placeholder="Enter ingredient" />
                <button id="addIngredientBtn" class="ingredient-btn">Add</button>
            </div>
        </div>
        <!-- Tabla de ingredientes -->
        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
            <table class="table floating-table" id="ingredientTable" style="border-radius: 10px;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán dinámicamente los ingredientes -->
                    
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button id="go-button" type="button" class="btn search-btn">Search for recipes</button>
        </div>
        <!-- Contenedor para mostrar los resultados de las recetas -->
        <table id="recipesContainer" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Ingredient</th>
                    <th>Recipe</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán dinámicamente las recetas -->
            </tbody>
        </table>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>
<script src="{% static '/scripts/deleteIngredient.js' %}"></script>
<script src="{% static '/scripts/sendIngredients.js' %}"></script>

</html>