{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Recipes</title>
    <link rel="stylesheet" href="{% static '' %}">
</head>

<body class="background">
    <h1 class="text-center">Your Groceries here</h1>
    <div class="container">
        <!-- Aquí puedes iterar sobre las recetas guardadas -->
        <p>Lista de recetas guardadas aparecerá aquí.</p>
    </div>
</body>

</html>
